/* @import url(https://fonts.googleapis.com/css?family=Roboto:700);
html, body{background : #FBC02D; font-family : Roboto; height: 100%; width: 100%; margin: 0;} */
a{
    all: none;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 15px;
}

body{
    background-color: #EEEEEE;
    position: relative;
    min-height: 100%;
}

.artilleryResults {
    white-space: pre-wrap;
    padding-top: 30px
}

.app-buttons{
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-background-image{
    background-image: url("/images/background-image-top.png");
    min-height: 500px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 50px;
}

.process-div{
    padding-top:40px;
    padding-bottom: 40px;
}

.parameters-div{
    padding-top: 40px;
}

.warningHidden{
    visibility: hidden;
}

.inputBox{
    max-width: 100%;
    width: 100%;
}

.oracle-logo {
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .025em;
    text-align: center;
    display: inline-block;
    max-width: 600px;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}

.title-div{
    padding-top: 200px;
}



/* Buttons */

/* Health Care Button */
.hcare {
    --color: #a972cb;
    --hover: #e6455a;
    transition: 0.25s;
}

.hcare:hover, .hcare:focus {
    border-color: var(--hover);
    color: #fff;
}

.hcare:hover,
.hcare:focus {
    box-shadow: inset 0 0 0 7em var(--hover);
}

.hcareSelected{
    background-color:  #e6455a;
    color: white;
}

/* ecommerce Button */
.ecommerce {
    --color: #19bc8b;
    --hover: #3eb0c2;
    transition: 0.25s;
}

.ecommerce:hover, .ecommerce:focus {
    border-color: var(--hover);
    color: #fff;
}

.ecommerce:hover,
.ecommerce:focus {
    box-shadow: inset 0 0 0 7em var(--hover);
}

.ecommerceSelected{
    background-color:  #3eb0c2;
    color: white;
}

/* Ramp Button */
.ramp {
    --color: #e5ff60;
    --hover:  #e6455a;
    transition: 0.25s;
}

.ramp:hover, .ramp:focus {
    border-color: var(--hover);
    color: #fff;
}

.ramp:hover,
.ramp:focus {
    box-shadow: inset 0 0 0 7em var(--hover);
}

.rampSelected{
    background-color:  #e6455a;
    color: white;
}


/* burst Button */
.burst {
    --color: #ffdc7f;
    --hover: #cb72aa;
    transition: 0.25s;
}

.burst:hover, .burst:focus {
    border-color: var(--hover);
    color: #fff;
}

.burst:hover,
.burst:focus {
    box-shadow: inset 0 0 0 7em var(--hover);
}

.burstSelected{
    background-color:  #cb72aa;
    color: white;
}

/* burst Button */
.static {
    --color: #ffdc7f;
    --hover: #3eb0c2;
    transition: 0.25s;
}

.static:hover, .static:focus {
    border-color: var(--hover);
    color: #fff;
}

.static:hover,
.static:focus {
    box-shadow: inset 0 0 0 7em var(--hover);
}

.staticSelected{
    background-color:  #3eb0c2;
    color: white;
}

/* Fetch Results Button */
.fetch {
    --hover: #24AE5F;
    color: white;
    background: 24AE5F;
    border: 2px solid 24AE5F;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}


.fetch-button {
    background: #3D4C53;
    width : 220px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 110px;
    margin-top: -100px;
    padding-top: 1px;
    background : #106CC8;
    left : -250px;
    transition : .3s;
  }
  .btnText {
    color : white;
    transition : .3s;
    margin-top: 13px;
  }
  .btnText2 {
    margin-top : 60px;
    margin-right : -130px;
    color : #FFF;
  }
  .fetch-button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -130px;
  }
  .fetch-button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .fetch-button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }


/*# sourceMappingURL=output.css.map */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px;
    background-color: #f5f5f5;
}

.ft-link{
    color: black;
    display: block;
    float: left;
    font-size: 18px;
    padding: 0 12px;
    padding-top: 12px;
}

.ft-text{
    clear: both;
    color: #737373;
    display: block;
    font-size: 16px;
    padding: 6px 12px 0;
    line-height: 12px;
    float: left;
}


.alert-danger {
    color: white;
    opacity: 0.85;
    background-color: #DC3560;
    border-color: white;
}

#chartDiv-top{
    position: inherit !important;;
}

#app{
    padding-bottom: 100px;
}

.graph {  
    min-height: 400px;
    min-width: 450px;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.anychart-credits{
    visibility: hidden;
}

.graphs-row{
    padding-bottom: 100px;
}

html{
    height: 100%;
}